:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  /* font-family: ; */
}

/* Точки списка */
.list {
  list-style: none;
}

/* Хедер*/
.header {
  background-color: var(--primary-white-color);
}

/* Логотип */
.logo {
  color: var(--accent-color);
}

.logo-black {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

/* Навигация */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Контакты*/
.contacts .link {
  color: #757575;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Основной контент */
.main {
  background-color: #2f303a;
}

.title {
  color: #ffffff;
}

.section {
  background-color: var(--primary-white-color);
}

/* Секция наша команда */
.items {
  background-color: #f5f4fa;
}

.items .title {
  color: var(--title-text-color);
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.adress {
  color: #ffffff;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Страница портфолио */
.site-nav .current {
  color: var(--accent-color);
}

.site-nav .current:hover,
.site-nav .current:focus {
  color: var(--accent-color);
}

/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button:hover .button:focus {
  color: var(--accent-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--accent-color);
}
