body {
  background-color: #ffffff;
  color: #757575;
}

/* Точки списка */
.list {
  list-style: none;
}

/* Хедер*/
.header {
  background-color: #ffffff;
}

/* Логотип */
.logo {
  color: #2196f3;
}

.logo-text {
  color: #000000;
}

.logo-el {
  color: #ffffff;
}

/* Навигация */
.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* Контакты*/
.contacts .link {
  color: #757575;
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

/* Основной контент */
.main {
  background-color: #2f303a;
}

.title {
  color: #ffffff;
}

.section {
  background-color: #ffffff;
}

/* Секция наша команда */
.items {
  background-color: #f5f4fa;
}

.items .title {
  color: #212121;
}

/* Футер */
.footer {
  background-color: #2f303a;
}

.adress {
  color: #ffffff;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
}

/* Страница портфолио */
.site-nav .current {
  color: #2196f3;
}

.site-nav .current :hover,
.site-nav .current:focus {
  color: #2196f3;
}

.button {
  color: #212121;
}

.button:hover,
.button:focus {
  color: #2196f3;
}
